@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-inter: "Inter", sans-serif;
    --font-Timmana: "Timmana", sans-serif;
    --font-inria: "Inria Sans", sans-serif;
  }
}

body,
input,
button {
  font-family: var(--font-inter);
}
.primary-color {
  color: #bf1e2e;
}
.title_logo {
  letter-spacing: 15px;
  line-height: 0px;
}
.linear_btn {
  background: linear-gradient(to left, #f5a62399 30%, #bf1e2e 100%);
  border-radius: 40px;
  color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
}
.linear_btn:hover {
  background: transparent;
  border: 1px solid #bf1e2e;
  color: #0a0a0a;
}
.explore_card {
  border-radius: 90px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.06);
}
.swiper-slide {
  transition: transform 0.3s ease;
}
.cta {
  background: linear-gradient(to left, #006d77b2 30%, #bf1e2e 70%);
  border-radius: 20px;
}
/**about section**/
.mission {
  background: url("/images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
